<!-- <div class="columns">
  <div class="column is-2">
    <aside class="menu">
      <img src="assets/bqlogo.png" height="120" alt="Logo" width="120"/>
      <ul class="menu-list">
         <li><a routerLinkActive="active" [routerLink]="['orders']">Orders</a></li>
        <li><a routerLinkActive="active" [routerLink]="['stock']">Stock</a></li>
        <li><a routerLinkActive="active" [routerLink]="['subadmins']">Subadmins</a></li>
        <li><a routerLinkActive="active" [routerLink]="['users']">Users</a></li>
        <li><a routerLinkActive="active" [routerLink]="['stores']">Stores</a></li>
        <li><a routerLinkActive="active" [routerLink]="['categories']">Categories</a></li>
        <li><a routerLinkActive="active" [routerLink]="['products']">Products</a></li>
         <li><a routerLinkActive="active" [routerLink]="['suppliers']">Suppliers</a></li>
        <li><a routerLinkActive="active" [routerLink]="['delivery-agents']">Delivery Agents</a></li>
         <li><a routerLinkActive="active" [routerLink]="['settings']">Settings</a></li>
        <li><a routerLinkActive="active" [routerLink]="['banners']">Banners</a></li>
        <li><a routerLinkActive="active" [routerLink]="['advertising-services']">Advertising Services</a></li>
      </ul>
    </aside>
  </div>
  <div class="column is-10">
    <router-outlet></router-outlet>
  </div>
</div> -->
<div class="sidebar">
  <aside class="menu">
    <img src="assets/bqlogo.png" style="margin:auto;display:block;" height="120" alt="Logo" width="120"/>
    <ul class="menu-list">
      <li><a routerLinkActive="active" [routerLink]="['orders']">Orders</a></li>
      <li><a routerLinkActive="active" [routerLink]="['stores']">Stores</a></li>
      <li><a routerLinkActive="active" [routerLink]="['categories']">Categories</a></li>
      <li><a routerLinkActive="active" [routerLink]="['products']">Products</a></li>
      <li [hidden]="hide_subadmin_url"><a routerLinkActive="active" [routerLink]="['subadmins']">Subadmins</a></li>
      <li><a routerLinkActive="active" [routerLink]="['delivery-agents']">Delivery Agents</a></li>
      <li><a routerLinkActive="active" [routerLink]="['banners']">Banners</a></li>
      <!-- <li><a routerLinkActive="active" [routerLink]="['suppliers']">Suppliers</a></li> -->
      <li><a routerLinkActive="active" [routerLink]="['returns']">Returns</a></li>
      <!-- <li><a routerLinkActive="active" [routerLink]="['reports']">Reports</a></li> -->
      <!-- <li><a routerLinkActive="active" [routerLink]="['stock']">Stock</a></li> -->
      <li><a routerLinkActive="active" [routerLink]="['users']">Users</a></li>
      <!--



       <li><a routerLinkActive="active" [routerLink]="['settings']">Settings</a></li>
      -->
      <li><a routerLinkActive="active" [routerLink]="['advertising-services']">Advertisement Services</a></li>
    </ul>
  </aside>
</div>

<div class="content">
  <p (click)="logout()" style="text-align:right;">Logout</p>
  <main [@fadeAnimation]="getRouterOutletState(o)">
    <router-outlet #o="outlet"></router-outlet>
  </main>
</div>
