<ngx-ui-loader></ngx-ui-loader>
<div class="bg">
<div class="columns">
    <div class="card"><br>
      <img src="assets/bqlogo.png" height="120" style="margin:auto;display:block;" width="120" alt="Image"/><br>
      <p style="text-align:center;">Get Contact</p>
        <div class="card-content">
          <form [formGroup]="getContactChangePasswordForm">
            <div class="is-half control">
                <input (focus)="contactFocus()" formControlName="contact" (keypress)="numberOnly($event)" maxlength="10" class="input" type="text" placeholder="Contact">
                <p [hidden]="contact_hidden" style="color:red;"><br>{{contact_error}}</p>
            </div><br>
            <div class="cbox">
              <label class="checkbox">
                <input type="checkbox" formControlName="chck" (change)="onCheckboxChecked($event)">
                I am an agent
              </label>
            </div><br>
            <button class="button is-black" (click)="goToVerifyOTP()" style="margin:auto;display:block;">Proceed</button><br>
          </form>
      </div>
</div>
</div>
