<br>
<p class="is-size-3 has-text-centered is-size-5-mobile">Users</p>
<div class="search">
    <input class="input" type="text" formControlName="searchbox" placeholder="Search ...">
  </div><br>
<div class="table-container">
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users| filter: filter | paginate: { itemsPerPage: 5, currentPage: p };let i = index">
        <td>{{u.user.name}}</td>
        <td>{{u.user.contact}}</td>
        <td>{{u.user.email==""?"-":u.user.email}}</td>
        <td (click)="toggleModal(u)">Show More</td>
      </tr>
    </tbody>
  </table><br>
</div>
<div class="pagination">
    <ul>
      <pagination-controls responsive="true" directionLinks="false"  style="margin:auto;" (pageChange)="p = $event"></pagination-controls>
      </ul>
    </div>
<div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
    <div class="modal-background"></div>
    <div class="modal-content"  style="border-radius:10px;">
        <div class="top">
            <h4 style="text-align:center;margin-top: 10px;margin-left: 10px;">Addresses</h4>
            <div class="addresses" style="width:100%;display: flex;flex-direction:row;justify-content: space-evenly">
                <div *ngFor="let a of addresses">
                    <div style="width:90%;margin:auto;border:1px solid black;border-radius:10px;">
                    <p style="text-align:center;margin-top: 10px;">{{a.addressType}}</p>
                    <p style="text-align:center;margin-top: 10px;">{{a.address}}</p>
                </div>
              </div>
            </div>
        </div><br>
        <!-- <div class="bottom"> -->
            <h4 style="text-align:center;margin-left: 10px;">Orders</h4>
            <div id="gallery">
                <ul>
                  <li *ngFor="let o of orders">
                      <div class="card" [ngStyle]="{'border-left': o._v == 'Cancelled' ? '12px solid #adacac' :o._v == 'Rejected' ? '12px solid #adacac' : o._v == 'Pending' ? '12px solid red' : o._v == 'Accepted' ? '12px solid #ffff00': o._v == 'Out for Delivery' ? '12px solid #2a93f5' :'12px solid #0ccf47'}">
                          <div class="card-content">
                            <div class="media">
                              <div class="media-content">
                                <p class="title is-4">{{o.order_id}}</p>
                                <div class="sub-content">
                                  <div>
                                    <p style="font-size:14px !important;" class="subtitle is-6">Date : {{o.date}}</p>
                                    <p style="font-size:14px !important;" class="subtitle is-6">Time : {{o.order_time}}</p>
                                    <p style="font-size:14px !important;" class="subtitle is-6">Total : {{o.total*1 + o.delivery_charges*1}}</p>
                                  </div>
                                  <div>
                                    <p style="font-size:14px !important;" class="subtitle is-6">User : {{o.user.name}}({{o.user.contact}})</p>
                                    <p style="font-size:14px !important;" class="subtitle is-6">Store : {{o.store.name}} ({{o.store.contact}})</p>
                                    <p style="font-size:14px !important;" class="subtitle is-6">Order Status : {{o._v}}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div style="font-size:12px !important;" class="content">
                              Address : {{o.address}}
                            </div>
                          </div>
                        </div>
                        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                            <thead>
                              <tr>
                                <th>Sr No</th>
                                <th>Item</th>
                                <th>Qty</th>
                                <th>Total</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let s of o.items;let i = index;">
                                <td>{{i+1}}</td>
                                <td>{{s.product_name}}({{s.variant}})</td>
                                <td>{{s.qty}}</td>
                                <td>{{s.total}}</td>
                              </tr>
                            </tbody>
                          </table>
                  </li>
                </ul>
              </div>
    <button class="modal-close is-large" (click)="removeModal()" aria-label="close"></button>
  </div>
