<ngx-ui-loader></ngx-ui-loader>
<div class="bg">
  <div class="columns">
    <div class="card"><br>
      <img src="assets/bqlogo.png" height="120" style="margin:auto;display:block;" width="120" alt="Image"/><br>
      <p style="text-align:center;">Change Password</p>
        <div class="card-content">
          <form [formGroup]="changePasswordForm">
            <div class="is-half control">
                <input class="input" (focus)="newPwdFocus()" formControlName="newPwd" type="password" placeholder="New Password">
                <p [hidden]="newPwd_hidden" style="color:red;"><br>{{newPwd_error}}</p>
            </div><br>
            <div class="is-half control">
                <input class="input" (focus)="cpwdFocus()" formControlName="confirmPwd" type="password" placeholder="Confirm Password">
                <p [hidden]="cpwd_hidden" style="color:red;"><br>{{cpwd_error}}</p>
            </div><br>
            <button class="button is-black" (click)="changePassword()" style="margin:auto;display:block;">Change</button><br>
          </form>
      </div>
</div>

</div>
