<br>
<p class="is-size-3 has-text-centered is-size-5-mobile">Settings</p><br>
<div class="table-container">
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>One</td>
        <td>One</td>
        <td><i class="fas fa-times"></i></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<form>
    <!-- <h3 style="text-align:center;">Subadmins</h3> -->
    <div class="control">
      <input class="input" type="text" placeholder="Name">
    </div><br>
    <div class="control">
        <input class="input" type="text" placeholder="Contact">
    </div><br>
    <div class="control">
        <input class="input" type="text" placeholder="Password">
    </div><br>
    <div class="columns">
        <button class="button is-black">Add</button>
        <button class="button is-black">Update</button>
    </div>
</form>
