<ngx-ui-loader></ngx-ui-loader>
<div class="bg">
<div class="columns">
    <div class="card"><br>
      <img src="assets/bqlogo.png" height="120" style="margin:auto;display:block;" width="120" alt="Image"/><br>
      <p style="text-align:center;">Verify OTP</p>
        <div class="card-content">
          <form [formGroup]="verifyOTPForm">
            <div class="is-half control">
                <input (focus)="otpFocus()" class="input" maxlength="4" (keypress)="numberOnly($event)" formControlName="otp" type="password" placeholder="OTP">
                <p [hidden]="otp_hidden" style="color:red;"><br>{{otp_error}}</p>
              </div><br>
            <button class="button is-black" (click)="verifyOTP()" style="margin:auto;display:block;">Verify</button><br>
          </form>
      </div>
</div>
</div>
