<br>
<p class="is-size-3 has-text-centered is-size-5-mobile">Stock</p><br>
<div class="search">
    <input class="input" type="text" formControlName="searchbox" placeholder="Search ...">
  </div><br>
<div class="table-container">
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>One</th>
        <th>One</th>
        <th>One</th>
        <th>One</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>One</td>
        <td>One</td>
        <td>One</td>
        <td>One</td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
      <ul>
        <pagination-controls  style="margin:auto;" (pageChange)="p = $event"></pagination-controls>
        </ul>
      </div>
</div>
