.control
{
  width: 80%;
  margin:auto;
}
input:focus
{
  outline:none !important;
}
.input
{
  border: 1px solid rgba(117, 113, 113, 0.479) !important;
}
::placeholder
{
  color:black;
}
.columns
{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.columns4
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
table,tr,td,th
{
  border:1px solid rgba(117, 113, 113, 0.479) !important ;
  text-align: center;
}
.file-label
{
  border:1px solid rgb(250, 238, 238) !important;
}
.control2
{
  width: 80%;
  margin:auto;
  display: flex;

  flex-direction: row;
  justify-content: center;
}
tr:hover
{
  cursor: pointer;
}
::placeholder
{
  font-size:12px;
}
.cbox
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
table,tr,td,th
{
  border:2px solid rgba(117, 113, 113, 0.479) !important;
  text-align: center;
}
.imgs
{
  display: flex;
  justify-content: space-evenly;
  width: '100%';
  flex-direction: row;
}
.select_store
{
  width: 100%;
  border:1px solid rgba(117, 113, 113, 0.479) !important;
  margin:auto;
  display:block;
}
.status
{
  width: 100%;
  margin:auto;
  display:block;
  border:1px solid rgba(117, 113, 113, 0.479) !important;
}
.pagination
{
  display: flex;
  font-size:12px;
  justify-content: center;
}

.search
{
  width: 80%;
  margin:auto;
}
