.control
{
  width: 80%;
  margin:auto;
}
input:focus
{
  outline:none !important;
}
.search
{
  width: 80%;
  margin:auto;
}
.input
{
  border: 1px solid rgba(117, 113, 113, 0.479) !important;
}
.pagination
{
  display: flex;
  font-size:12px;
  justify-content: center;
}

::placeholder
{
  color:black;
}
.columns
{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
table,tr,td,th
{
  border: 1px solid rgba(117, 113, 113, 0.479) !important;
  text-align: center;
}
table:hover
{
  cursor: pointer;
}
